@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

body, #root {
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-design-custom {
    display: grid;
    /* width: 95%; */
    grid-template-columns: 0.2fr 1.5fr 5fr 1.5fr;
    grid-template-rows: auto;
}

.option-items {
    width: 102%;
    padding: 10px 0px;
    cursor: pointer;
}

.message-box {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    position: relative;
}

.message-image {
    background-image: url(/src/components/assets/images/background.webp);
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1px) opacity(0.4);
}

.message-content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: auto 50px;
}

.message-box::-webkit-scrollbar {
    display: none;
}

.send-message-btn {
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
}